.cards{
	padding: 10px;

	
}

/* Pranav: Parallax*/
.parallax {
    /* The image used */
    background-image: url("../images/Nature-View.jpg");

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (max-width: 991px) {
	.large-device-only{
		display: none;
	}
	.mobile-only{
		display: inline;
	}

	.divs-on-mob{
		text-align: center;
	}

}

@media screen and (min-width: 992px) {
	.mobile-only {
		display: none;
	}
	.large-device-only{
		display: inline;
	}
}

/* Pranav: Header edits*/
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
//*
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px;
}
*/


/* Pranav: Footer*/
.site-footer{
	background-color: #222;
	color: #fff;
	padding-top: 30px;

}

.bottom-footer{
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2; 
}


.footer-nav{
	text-align: right;
	list-style: none;
}
.footer-nav li{
	display: inline;
	padding: 0px 10px;
}

.footer-nav li:not(:first-child):before{
	content: '|';
	padding: 0px 10px;
}

.footer-nav a{
	color: #b2b2b2;
}
.footer-nav a:hover{
	color: #fff;
	text-decoration: none;

}

.right{
	border-right: 1px solid #b2b2b2;
}

/*Tanmay */
.eqcol{
	display: flex;
}