
/*CUSTOM NAV*/
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}


.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu  {
  background-color: #33aa33;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  {
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  {
  color: #33aa33;
}

/*custom nav end*/

    /* Pranav: Header edits*/
    .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }


    .custom-nav-active{
    border-bottom-style: solid;
    border-width:5px;
    border-color:white;
    padding-bottom:5px;

}
@media (min-width: 768px){
    .navbar-nav-just {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav-just>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}
