@media screen and (max-width: 1100px) {

	.site-footer{
		background-color: black;
		color: #fff;
		padding-top: 30px;
		
	}

	.bottom-footer{
		border-top: 1px solid #b2b2b2;
		margin-top: 10px;
		padding-top: 10px;
		color: #b2b2b2; 
		
	}

	.footer-nav2 a{
		color: #b2b2b2;
	}
	.footer-nav2 a:hover{
		color: #fff;
		text-decoration: none;

	}


}


@media screen and (min-width: 1101px) {
/* Pranav: Footer*/
	.site-footer{
		background-color: black;
		color: #b2b2b2;
		padding-top: 50px;
	
	}
	

	.bottom-footer{
		border-top: 1px solid #b2b2b2;
		margin-top: 10px;
		padding-top: 10px;
		color: #b2b2b2; 
	}


	.footer-nav{
		text-align: right;
		list-style: none;
	}
	.footer-nav li{
		display: inline;
		padding: 0px 10px;
	}

	.footer-nav li:not(:first-child):before{
		content: '|';
		padding: 0px 10px;
	}

	.footer-nav a{
		color: #b2b2b2;
	}
	.footer-nav a:hover{
		color: #fff;
		text-decoration: none;

	}

	.right{
		border-right: 1px solid #b2b2b2;
	}


	.footer-nav2 a{
		color: #b2b2b2;
	}
	.footer-nav2 a:hover{
		color: #fff;
		text-decoration: none;

	}
  	

}